{
  "config": {
    "token_symbol": "qrl",
    "cmcapi": "",
    "cgref_channel": "general",
    "otc_channel": "general",
    "nominations_channel": "general"
  },
    "development": {
        "token": ""
    },
    "production": {
    	"token":""
    }
}
